/** 
	Similar style buttons.
	On further development all can be converted to just one name - .btn and .btn:hover
**/
.add_to_basket,
.remove_btn,
.checkout_btn,
.update_btn,
.active_page,
.go_back,
.log_reg_btn,
.next_btn,
.cash,
.paypal_btn,
.back_order,
.search_btn,
.update_orders,
.invoice_orders,
.update_customer{
	background: #7b7a4f;
	background-image: -webkit-linear-gradient(top, #3498db, ##7b7a4f);
	background-image: -moz-linear-gradient(top, #3498db, ##7b7a4f);
	background-image: -ms-linear-gradient(top, #3498db, ##7b7a4f);
	background-image: -o-linear-gradient(top, #3498db, ##7b7a4f);
	background-image: linear-gradient(to bottom, #3498db, ##7b7a4f);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	color: #ffffff;
	font-size: 15px;
	padding: 7px 15px 7px 15px;
	text-decoration: none;
}

.add_to_basket:hover,
.checkout_btn:hover,
.update_btn:hover,
.active_page:hover,
.go_back:hover,
.log_reg_btn:hover,
.next_btn:hover,
.cash:hover,
.paypal_btn:hover,
.back_order:hover,
.search_btn:hover,
.update_orders:hover,
.invoice_orders:hover,
.update_customer:hover {
	background: #7b7a4f;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
	background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
	background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
}

.remove_btn {
	background: #DC143C;
	background-image: -webkit-linear-gradient(top, #DC143C, #b82b2b);
	background-image: -moz-linear-gradient(top, #DC143C, #b82b2b);
	background-image: -ms-linear-gradient(top, #DC143C, #b82b2b);
	background-image: -o-linear-gradient(top, #DC143C, #b82b2b);
	background-image: linear-gradient(to bottom, #DC143C, #b82b2b);
}
.remove_btn:hover {
	background: #ff0000;
	background-image: -webkit-linear-gradient(top, #ff0000, #d93434);
	background-image: -moz-linear-gradient(top, #ff0000, #d93434);
	background-image: -ms-linear-gradient(top, #ff0000, #d93434);
	background-image: -o-linear-gradient(top, #ff0000, #d93434);
	background-image: linear-gradient(to bottom, #ff0000, #d93434);
}
.checkout_btn {
	font-size: 16px;
	float: right;
	margin: 30px 30px 30px 20px;
}
.update_btn {
	font-size: 16px;
	float: right;
	margin-top: 30px;
	cursor: pointer;
}
.active_page,
.disabled,
.log_reg_btn,
.next_btn, 
.search_btn{
	-webkit-border-radius: 7;
	-moz-border-radius: 7;
	border-radius: 7px;
	padding: 5px 10px 5px 10px;
}
.disabled {
	background: #929292;
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
}
.active_page,
.disabled{
	font-weight: normal;
}
.go_back {
	font-size: 14px;
}
.next_btn {
	font-size: 18px;
	margin: 20px 0px 50px 0px;
}
.log_reg_btn {
	font-size: 18px;
	margin: 15px 0px 50px 0px;
}
.paypal_btn,
.cash {
	float: right;
	cursor: pointer;
	font-size: 17px;
	margin: 30px 20px 30px 0px;
}
.back_order,
.update_orders,
.invoice_orders {
	float: left;
	cursor: pointer;
	margin-left: 20px;
	margin-top: 30px;
}
.search_btn {
	padding: 2px 8px 2px 8px;
	margin-left: 8px;
	margin-bottom: 2px;
	background: #006699;
}
.add_product {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #32CD32;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  float: right;
}
.add_product:hover {
  background: #228B22;
  text-decoration: none;
}


