﻿.resultIcon {
  width: 25px;
  height: 23px;
  margin-left: -26px;
  float: left;
  margin-top: 11px;
}
.resultIcon.error {
  background-image: url('../IMAGES/Structural/FormValidation/validation-error.png');
  background-repeat: no-repeat;
}
.resultIcon.valid {
  background-image: url('../IMAGES/Structural/FormValidation/validation-success.png');
  background-repeat: no-repeat;
}
select.error,
.ProductPage select.error,
.ModalPopup .NotificationContainer .info .dataSection input.error,
.ProductPage a.error {
  border: 1px solid #be0000;
}
div.errorMessage {
  padding-left: 38px;
  padding-top: 20px;
  background-image: url('/Images/Structural/FormValidation/general_error.png');
  background-repeat: no-repeat;
  background-color: #FFF2F2;
  border: solid 1px #BE0000;
  color: #000;
  width: 300px;
  float: left;
  clear: both;
}
div.validationError {
  color: #be0000;
}
/*# sourceMappingURL=CompetitionStorefront.css.map */