@charset "utf-8";
/** 
	File:		main.css
	Author:		Islam Dudaev
	Date:		12 August, 2015
	Version:	3.7 23 December, 2015
*/


/*** Front Page ****************/
/* Whole page content */
#mainWrapper {
	font-family: Verdana, Arial, Tahoma, sans-serif;
	width: 100%;
	padding-left: 10%;
}
/* Header -----------------------------------------------------------*/
header {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	background-color: #FFFFFF;
}
/* Logo */
#logo {
	float: left;
	width: 139px;
	padding-left: 5px;
}

}
/* div for Links in header */
#headerLinks {
	float: left;
	width: 35%;
	padding-top: 10px;
}
/* Links in header */
#logged_as{
	float: right;
}
#logged_as a {
	color: #006699;
}
#logged_as a.act{
	color: #9c0000;
}
#logged_as a:hover {
	color: #ADA9A9;
}

/* Offer text banner -------------------------------------------------*/
#offer {
	clear: both;
	background-color: #006699;
	color: #FFFFFF;
	padding-left: 115px;
	padding-top: 57px;
	padding-bottom: 57px;
}
.bold {
	font-weight: bold;
}

/* Navigation bar ----------------------------------------------------*/
nav {
	clear: both;
	background-color: #006699;
	padding-top: 20px;
	padding-bottom: 35px;
	margin-top: 20px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
/* List items in nav bar so that they are in the same line */
nav ul li {
	float: left;
}
/* Links in Navigation bar. Margin for space between them. */
nav a {
	color: #FFFFFF;
	display: block;
	margin: 0 20px;
	text-decoration: none;
}
nav a:hover {
	color: #ADA9A9;
}

/* Content of the site ----------------------------------------------*/
#content {
	clear: both;
	padding-top: 27px;
}

/* Sidebar --------------------------------------------------------- */
#content .sidebar {
	float: left;
	width: 18%;
	padding-left: 2%;
	padding-right: 2%;
	text-align: center;
	background-color: #006699;
	padding-top: 10px;
	margin-bottom: 27px;
}
/* Menubar's properties for menu in sidebar */
#content .sidebar #menubar {
	text-align: left;
	color: #FFFFFF;
	position: relative;
}
/* Menu in sidebar */
.sidebar #menubar .menu {
	margin-bottom: 20px;
}
/* Menu elements */
.menu ul li {
	list-style-type: none;
	font-size: large;
	left: -40px;
	position: relative;
	padding-bottom: 5px;
}
/* Links in sidebar */
.sidebar #menubar .menu ul li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
}
.sidebar #menubar .menu ul li a:hover {
	color: #ADA9A9;
}
.sidebar #menubar .menu ul li a.act{
	background-color: #004A70;
	padding: 2px;
	font-weight: bold;	
}
nav a.act{
	padding: 16px 6px 14px 6px;
	margin-top: -18px;
	background-color: #004A70;
}

/* Menu headings in sidebar */
#menubar .menu h1 {
	font-size: 15px;
}

/* Main content of the site ----------------------------------------*/
#content .mainContent, .pg {
	float: left;
	width: 75%;
	text-align: center;
	padding-left: 3%;
}
/* Product rows -----------------------------------------------------*/
#content .mainContent .productRow {
	overflow: hidden;
}
/* Each product Information in the catalog */
.mainContent .productRow .productInfo {
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10px;
	padding-bottom: 20px;
	width: 50%;
}
/* Product's images in catalog */
.productInfo div img {
	width: 220px;
	height: 260px;
}
/* Prices of a products in catalog */
.productRow .productInfo .price {
	position: relative;
	color: #1976D9;
	font-weight: bold;
	font-size: 18px;
}
/* Content holder for products in catalog*/
.productRow .productInfo .productContent a {
	position: relative;
	color: #000000;
	text-decoration: none;
	font-size: 14px;
	font-style: normal;
	font-weight: 200;
}
.productRow .productInfo .productContent a:hover {
	color: #1976D9;
}

/* Footer -----------------------------------------------------------*/
#mainWrapper footer {
	clear: both;
	overflow: auto;
	background-color: #006699;
	font-style: normal;
	font-weight: 200;
	line-height: 1.5;
	padding: 22px;
}
/*Each footer content */
#mainWrapper footer #left, #right {
	width: 44%;
	float: left;
	padding-left: 4%;
	padding-right: 2%;
	color: #FFFFFF;
}
footer a {
	color: #FFFFFF;
	text-decoration: none;
}
footer a:hover {
	color: #929292;
}
footer #left a, #right p {
	padding-right: 13px;
}
footer #right p {
	display: inline;
}
footer #right  {
	padding-top: 15px;
	text-align: right;
}

/* Media query for tablets --------------------------------------------*/
@media screen and (max-width: 800px) {
	#search input {
		width: 200px;
		margin-left: 40px;
	}
	
	#headerLinks {
		float: right;
		width: 50%;
		margin-top: 10px;
		margin-bottom: 15px;
	}
	/* Links in header */
	#logged_as a {
		padding-left: 0px;
		padding-right: 30px;
	}
	
	/* Offer - Text banner */
	#mainWrapper #offer {
		padding-left: 22%;
	}
	/* offer banners content */
	#mainWrapper #offer p {
		font-size: small;
	}
	
	/* The sidebar and main content of page */
	#content {
		position: relative;
		top: -22px;
		width: 100%;
		overflow: hidden;
	}
	/* sidebar */
	#content .sidebar {
		float: none;
		width: 100%;
		height: auto;
		overflow: auto;
		padding-left: 5px;
		padding-top: 0px;
	}
	/* horizontal separators in sidebar */
	#content .sidebar hr {
		display: none;
	}
	/*menubar in sidebar */
	#content .sidebar #menubar {
		position: relative;
		left: -7%;
		overflow: hidden;
		width: 95%;
		padding-top: 0px;
	}
	/* menus in sidebar */
	.sidebar #menubar .menu {
		width: 100%;
		text-align: center;
		position: relative;
		top: 16px;
	}
	/* menu headings in sidebar */
	#menubar .menu h1 {
		display: inline;
		font-size: medium;
		padding-right: 6%;
	}
	/* Unordered List of links */
	#menubar .menu ul {
		display: inline;
	}
	/* list elements */
	#menubar .menu ul li {
		display: inline;
		font-size: medium;
		padding-left: 0%;
		padding-right: 3%;
	}
	
	/* main content region of page */
	#mainWrapper #content .mainContent {
		overflow: hidden;
		width: 95%;
		margin-top: 40px;
	}
	/* Prices of products in catalog view */
	.productRow .productInfo .price {
		font-size: 19px;
	}
	/* Content holders in catalog view */
	.productRow .productInfo .productContent {
		font-size: 16px;
	}
	
	/* Footer region */
	#mainWrapper footer {
		font-size: 15px;
		padding-left: 16px;
		overflow: hidden;
	}
	#mainWrapper footer #left {
		width: 80%;
		
	}
	/* Container for links in footer */
	footer #right {
		float: none;
		width: 98%;
		position: relative;
		top: 17px;
		clear: both;
		text-align: center;
		padding-bottom: 19px;
	}
	/* Links in footer */
	#right p a {
		padding-right: 35px;
	}
}
/* Media query for small screen devices such as phones ----------------*/
@media screen and (max-width: 480px) {
	/* Logo and search */
	#mainWrapper header #logo,
	#search {
		width: 100%;
		text-align: center;
	}
	#search {
		margin-left: -4%;
	}
	#search input {
		width: 50%;
		text-align: center;
		height: 20px;
	}
	
	/*Container for links in header */
	#mainWrapper header #headerLinks {
		width: 100%;
		text-align: center;
		background-color: #006699;
		padding-bottom: 15px;
	}
	/* Links in header */
	#logged_as a {
		text-align: center;
		color: #FFFFFF;
		padding-right: 15px;
		padding-left: 0px;
	}
	
	/*Offer - Text Banner */
	#mainWrapper #offer {
		padding-left: 0px;
		text-align: center;
	}
	
	/* Menubar in sidebar */
	#content .sidebar #menubar {
		position: relative;
		left: -8%;
		text-align: center;
	}
	/*Menu headings in sidebar */
	#menubar .menu h1 {
		width: 100%;
		display: block;
	}
	/* Unordered list for menu elements */
	.menu ul {
		position: relative;
		padding-left: 24%;
	}
	/* Main content which excludes the sidebar */
	#mainwrapper #content .mainContent {
		margin-top: -81px;
		text-align: center;
		width: 100%;
		padding-left: 0px;
	}
	/* Each product in catalog view */
	.mainContent .productRow .productInfo {
		width: 100%;
		display: block;
		padding-left: 0px;
		padding-right: 0px;
		position: relative;
		left: -2%;
	}
	
	#mainWrapper footer div {
		width: 100%;
		margin-left: -16px;
		text-align: justify;
		padding-bottom: 16px;
		overflow: auto;
	}
	/* Container for links in footer */
	#mainWrapper footer #right {
		padding-left: 8%;
	}
}

/************************** Product page ******************************/
/* Horizontal navigation arrow */ 
.mainContent .navArrow {
	font-size: 90%;
	padding-bottom: 50px;
}
.mainContent .navProduct {
	margin-top: -15px;
}
.mainContent .navArrow td {
	padding: 0 3px;
}
.navArrow a {
	color: #5783A8;
	text-decoration: none;
}
.navArrow a:hover {
	color: #006699;
}
.navArrow img {
	width: 13px;
	height: 15px;
  	margin-bottom: -2px;
}

/* Product description */
.mainContent #product {
	margin-top: 20px;
	text-align: left;
}
#product img {
	width: 220px;
	height: 260px;
}
#product td {
	font-size: 85%;
	margin-bottom: 8px;
}
#product table p.price {
	font-size: 130%;
	color: #3072C6;
	font-weight: bold;
}
#product table td {
	padding-right: 20px;
}
#product .title {
	font-weight: bold;
	font-size: 120%;
}
#product .choose td{
	padding-top: 20px;
}
#product p.info {
	margin-top: 40px;
	font-weight: bold;
}

/*********************** Main Cart page *********************************/
.mainContent #cart h2, .mainContent #order h2{
	font-size: 120%;
}
#cart h2{
	text-align: left;
	margin-top: -3px;
	padding-left: 5px;
	padding-bottom: 5px;
}
#cart table {
	font-size: 90%;
	width: 100%;
	padding: 10px;
	border-style: solid;
	border-color: #A7A7A7;
	border-radius: 10px;
	box-shadow: 0px 0px 5px #9D9B9B;
}
#cart table th, #cart table td {
	padding: 3px 5px;
	text-align: center;
}
#cart th.name {
	text-align: left;
}
#cart .photo {
	width: 100px;
	height: 129px;
}
#cart td.title {
	width: 250px;
	text-align: left;
}
.input_qty {
	border: 1px solid #000000;
	width: 25px;
	height: 23px;
	font-size: 110%;
	text-align: right;
}
.removeX {
	background: url("../images/removeX.png") no-repeat;
	display: block;
	width: 16px;
	height: 16px;
}
#cart td.total {
	height: 40px;
	background-color: #EAE9E7;
	text-align: right;
	font-weight: bolder;
}
#cart td.total span {
	color: #007cff;
	padding-right: 6%;
	padding-left: 25px;
}

/******************** Small basket ***********************/
#smallB {
	float: right;
	margin-right: 20px;
	margin-top: -42px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
}
#smallB h3 {
	text-align: center;
}
#smallB a{
	color: #FFFFFF;
}
#smallB a:hover{
	text-decoration: none;
	color: #D4D4D4;
}
#smallB table tr td {
	padding-bottom: 8px;
	padding-right: 30px;
}
#basket_small {
	font-size: 90%;
}
#basket_small .items, 
#basket_small .total{
	float: right;
}

/************************ Shipping form **************************/
.mainContent #order,
.log_reg {
	text-align: left;
}
#order h2{
	text-align: center;
	margin-top: 0;
	padding-bottom: 10px;
}
#order .ship_input {
	margin: 10px;
	width: 30%;
}
#order table th span,
.log_reg span,
.warning{
	color: red;
}
#order input[type="text"],
.log_reg input[type="text"],
.log_reg input[type="password"]{
	border: 1px solid #000000;
	width: 300px;
	height: 30px;
	font-size: 90%;
	padding-left: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
}
.warning {
	display: block;
	padding-left: 10px;
}

/********************* Paypal ***************************/
#paypal_form {
	display: none;
}
.dn{
	display: none;
}

/********************** Contact us page *************************/
#contact_us {
	float: left;
	padding-right: 20px;
	padding-bottom: 30px;
}
.contact_form {
	text-align: left;
}
.contact_form input{
	border: 1px solid #000000;
	padding-left: 5px;
	width: 300px;
	height: 30px;
	font-size: 90%;
}
.contact_form textarea{
	border: 1px solid #000000;
	width: 400px;
	height: 100px;
}
.contact_form #submit {
	width: 100px;
}
.business_info { 
	float:right; 
	text-align:right;
	width: 30%;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
}

#message h2 {
	font-size: 130%;
	text-align: center;
}
#message p {
	text-align: center;
}

#map-canvas {
	float: right;
	padding: 20px;
	width: 400px;
	height: 300px;
}

/* Pagination ---------------*/
.pg {
	background: #dfdfdf;
	list-style: none;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 10%;
	padding: 10px;
}
.pg li {
	display: inline-block;
	margin-right: 10px;
}

/* My orders for user page */
.inactive{
	color: #AAAAAA;
}
.empty{
	clear: both;
}

#about, #delivery {
	text-align: left;
}
