﻿header.PageHeader section.BreadcrumbNavigation {
  background-color: #f7f7f7;
  border-bottom: 1px solid #c7c5c5;
  height: 36px;
  position: static;
}

header.PageHeader section.BreadcrumbNavigation .Content {
  border-bottom: none;
}

header.PageHeader section.BreadcrumbNavigation .Content section.Back {
  margin-top: 0;
  padding: 5px 0;
}

header.PageHeader section.BreadcrumbNavigation .Content section.Back a.nxbtn {
  border-radius: 4px;
}

header.PageHeader section.BreadcrumbNavigation .Content section.Back a.nxbtn.icon {
  line-height: 16px;
  padding: 4px 10px 4px 25px;
  text-transform: uppercase;
}

header.PageHeader section.BreadcrumbNavigation .Content section.Back a.nxbtn.icon.icon-arrow-left {
  background: #fff url(/Images/Structural/Icons/arrow_left.png) no-repeat 10px;
}

header.PageHeader section.BreadcrumbNavigation .Breadcrumbs {
  line-height: 16px;
  font-family: "azoRegular", sans-serif;
}

header.PageHeader section.BreadcrumbNavigation .Breadcrumbs .bcHome a {
  background: url("/Images/Structural/Icons/home.png") no-repeat;
}

header.PageHeader section.BreadcrumbNavigation .Breadcrumbs .Breadcrumb {
  font-family: "azoMedium", sans-serif;
  font-weight: 500;
}

header.PageHeader section.BreadcrumbNavigation .Breadcrumbs .Breadcrumb a {
  font-family: "azoRegular", sans-serif;
  font-weight: 400;
}

header.PageHeader section.BreadcrumbNavigation .Breadcrumbs .lastBreadcrumb {
  font-family: "azoMedium", sans-serif;
  font-weight: 500;
}

header.PageHeader {
  height: 105px;
}

header.PageHeader .HeaderContent {
  padding: 0;
  background: #000;
  height: 105px;
}

header.PageHeader .HeaderContent .HeaderNavigation span.DepartmentText {
  white-space: nowrap;
}

header.PageHeader .HeaderContent .HeaderTopBar {
  padding: 12px 0 0;
  height: 56px;
}

header.PageHeader .HeaderContent .HeaderTopBar .nxbtn.primary {
  color: #fff;
  padding: 12px 11px;
  background: #1a6461;
  border-radius: 4px;
  text-transform: uppercase;
  line-height: 14px;
  font-family: "azoMedium", sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
}

header.PageHeader .HeaderContent .HeaderTopBar .nxbtn.primary.disabled {
  background-color: #1a6461;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  opacity: 0.4;
}

header.PageHeader .HeaderContent .SiteLogo {
  margin-top: 10px;
  background-image: url(/Images/Structural/Header/logos/next-logo.png);
}

header.PageHeader .HeaderContent .SecureMessages {
  margin-top: 15px;
  margin-left: 12px;
}

header.PageHeader .HeaderContent .Search {
  background-color: transparent;
}

header.PageHeader .HeaderContent .Search .SearchBox {
  border-radius: 4px;
  border: none;
  font-family: "azoRegular", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #222222;
  letter-spacing: 0.4px;
  font-size: 14px;
  width: 233px;
  height: 38px;
  padding: 0 45px 0 10px;
}

header.PageHeader .HeaderContent .Search .SearchButton {
  position: absolute;
  right: 0;
  margin-top: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-image: url(/Images/Structural/Header/Search/Icons/icon-search.png);
  background-position: center center;
  background-size: 16px;
  background-repeat: no-repeat;
  height: 38px;
  width: 38px;
  display: inline-block;
  border: none;
  background-color: #fff;
  border-left: solid 1px #c7c5c5;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

header.PageHeader .HeaderContent .Search #newsearch ul.dropdown {
  min-width: 286px;
}

header.PageHeader .HeaderContent .QuickLinks {
  margin: 17px 0 0;
  padding-right: 12px;
}

header.PageHeader .HeaderContent .QuickLinks ul li {
  border-right: none;
  font-weight: 500;
  font-size: 12px;
  font-family: "azoMedium", sans-serif;
  margin-right: 5px;
}

header.PageHeader .HeaderContent .QuickLinks ul li a {
  padding: 0 5px;
  font-weight: 500;
  font-size: 12px;
  height: 16px;
  text-align: right;
  font-family: "azoMedium", sans-serif;
  position: relative;
}

header.PageHeader .HeaderContent .QuickLinks ul li a.myAccountlinkactive,
header.PageHeader .HeaderContent .QuickLinks ul li[data-section='myAccount'] a {
  background-image: url(/Images/Structural/Header/Admin/icon-user.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: left;
  padding-right: 5px;
  padding-left: 21px;
  margin-right: 0;
}

header.PageHeader .HeaderContent .BagSummary .Icon {
  margin-top: 8px;
}

header.PageHeader .HeaderContent .BagSummary .Icon.active {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAbCAYAAABvCO8sAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXFJREFUeNrslruKwkAUhk/GQk0rEtBabAK+gY1vYqGVeCvyFoJlOi3yLPoCNgbRQlAD3lGDt1/PwG6X3ahLYCEHDjNhTv5vbjA/ASA/mcvl0Gq1MBwO4TgOZrMZbNtGu91GJpOBXx1fRYZhYDAYoFarIZ1Of4trmoZ6vY7JZIJKpYI/ATYaDfT7faRSKU/BZDKJXq+HZrOJj4C6rmM8HoMFfxNKJBJYLBbIZrN4G2iaJqrVqu/zKRaL6HQ6PwMvlwuWy6W8BOfzGfP5HIVCQf7EfW7L5TJ2u53M/X6P7XaL1WolvzebDU6nE0qlkqydTqeyzefzsna9Xsvk/vV6BY1GI88ZsaDf1X0lT8RrjFkiEomQV1iWRa9Gt9v1HJMsvtKvruLdZJaggCMEhsAQGAJD4H8E3u/3wGD8RIloNBoYMBaLkXBdNzDg0/uQcjgc2DiRqqp0PB4pHo+zsSJFUejT7X6aMql7u91ICMH+lR4CDACGHML3qWbMiwAAAABJRU5ErkJggg==");
  color: #fff;
}

header.PageHeader .HeaderContent .BagSummary .Icon .ItemCount span {
  height: 18px;
  font-family: "azoMedium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  text-align: center;
  color: #ffffff;
}

header.PageHeader .HeaderContent .flagContainer {
  padding: 0 0 0 5px;
  margin-top: 8px;
  height: 30px;
}

header.PageHeader .BreadcrumbNavigation {
  top: 105px;
}

/*header height adjustments for pages*/
#search .ResultsHeader {
  top: 138px;
}

#search .Filters {
  top: 140px;
}

#search .Filters .ResultCount {
  top: 140px;
}

#search .Filters.disabled {
  top: 150px;
}

#search .Filters.disabled .ResultCount {
  top: 0;
}

header.PageHeader.Large, div.HeaderSpacer, .dynamicLoadError .DynamicLoadHeaderSpacer {
  height: 146px;
}

.Secure div.HeaderSpacer, .Secure header.PageHeader.Large, .Secure .dynamicLoadError .DynamicLoadHeaderSpacer {
  height: 121px;
}

.Secure header.PageHeader .HeaderContent {
  height: 90px;
}

.Secure header.PageHeader .HeaderContent .HeaderTopBar {
  height: 41px;
  padding-top: 11px;
}

.Generic div.HeaderSpacer {
  height: 127px;
}

body.l2 div.HeaderSpacer {
  height: 105px;
}

body.l2 div.HeaderSpacer.SecureHeaderSpacer {
  height: 131px;
}

body.l2 header.PageHeader.SecurePageHeader.Large {
  height: 95px;
}

body.l2 header.PageHeader.SecurePageHeader .HeaderContent {
  height: 90px;
}

body.l2 header.PageHeader.SecurePageHeader .HeaderContent .HeaderTopBar {
  height: 41px;
  padding-top: 11px;
}

body.l2.deliveryPage div.HeaderSpacer.SecureHeaderSpacer, body.l2.deliveryPage header.PageHeader.SecurePageHeader.Large {
  height: 95px;
}

body.l2.deliveryPage header.PageHeader.SecurePageHeader .HeaderContent {
  height: 90px;
}

body.l2.deliveryPage header.PageHeader.SecurePageHeader .HeaderContent .HeaderTopBar {
  height: 41px;
  padding-top: 11px;
}

.ContentArea .HeaderSpacer.Homepage {
  height: 105px;
}

.Storefront .SofaStorefront .tabCollection.fixed .tabLinks {
  top: 130px;
}

.ProductPage .itemsContainer .ProductImagery {
  top: 140px;
}

/*****/
.touch .PageHeader .HeaderContent .Search #newsearch .SearchBox {
  padding-right: 45px;
  width: 215px;
}

.touch .PageHeader .HeaderContent .Search #newsearch ul.dropdown {
  min-width: 268px;
}

/*IE8 Fixes*/
.msie8 .flagContainer .HeaderFlag.flagBackground {
  background-image: url(/Images/Structural/Footer/Flags/world-flags-48-ie.png);
}

.msie8 header.PageHeader .HeaderContent .QuickLinks ul li a.myAccountlinkactive,
.msie8 header.PageHeader .HeaderContent .QuickLinks ul li[data-section='myAccount'] a {
  background-image: url(/Images/Structural/Icons/16x16/icon-user-ie.png);
}

.msie8 header.PageHeader .HeaderContent .Search .SearchButton {
  width: 26px;
  height: 26px;
  top: 14%;
  right: 2%;
  border: 0;
  background-image: url(/images/structural/header/search/icons/icon-search-ie.png);
}

.msie8 header.PageHeader .HeaderContent .Search .SearchBox {
  line-height: 38px;
}

.CookieConsent {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

header.font-antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.HeaderContent .countrySelector {
  top: 70px;
  height: 231px !important;
}

.HeaderContent .countrySelector::before {
  background-color: #fff;
  content: " ";
  display: block;
  height: 25px;
  right: 15px;
  position: absolute;
  top: -10px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 25px;
  z-index: 1000;
}

.flagSelectorContainer .countrySelector {
  font-family: "azoRegular", sans-serif;
  width: 310px;
  left: 668px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(164, 164, 164, 0.5);
}

.flagSelectorContainer .countrySelector .rightPane {
  width: 310px;
}

.flagSelectorContainer .countrySelector .rightPane .paneContent {
  padding-top: 27px;
  padding-left: 20px;
}

.flagSelectorContainer .countrySelector .rightPane .paneContent .section {
  padding-bottom: 08px;
}

.flagSelectorContainer .countrySelector .rightPane .paneContent .section .languageLabel {
  font-size: 12px;
  line-height: 1.75;
  font-weight: normal;
  width: 92px;
  height: 21px;
  font-family: "azoRegular", sans-serif;
  text-align: left;
  color: #222222;
}

.flagSelectorContainer .countrySelector .rightPane .paneContent .section .languageButtons {
  padding-top: 0;
}

.flagSelectorContainer .countrySelector .rightPane .paneContent .section .languageButtons .languageButton {
  min-width: 77px;
  font-family: "azoMedium", sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  color: #222222;
  line-height: 14px;
  padding: 11px 10px 11px 10px;
  border-radius: 4px;
  margin-top: 5px;
  -webkit-appearance: none;
  outline: none;
}

.flagSelectorContainer .countrySelector .rightPane .paneContent .section .languageButtons .languageButton.selected {
  margin-top: 5px;
}

.flagSelectorContainer .countrySelector .rightPane .paneContent .section label.country {
  margin-bottom: 6px;
  font-family: "azoRegular", sans-serif;
  font-size: 12px;
  line-height: 1.75;
  text-align: left;
  color: #222222;
  height: 21px;
  font-weight: 400;
}

.flagSelectorContainer .countrySelector .selectorDropdown {
  width: 250px;
  height: 26px;
  border-radius: 2px;
  margin-bottom: 10px;
  background-color: #fff;
}

.flagSelectorContainer .countrySelector .selectorDropdown a {
  border-color: #c7c5c5;
}

.flagSelectorContainer .countrySelector .slide-arrows .selector-arrow {
  width: 30px;
  height: 16px;
  background: url(/Images/Structural/Header/CountrySelector/arrow-up.png);
  position: absolute;
  top: -15px;
  right: 13px;
}

.flagSelectorContainer .countrySelector .dk_container > a {
  background-color: #fff;
  border-radius: 2px;
  font-family: "azoRegular", sans-serif;
  font-size: 12px;
}

.flagSelectorContainer .countrySelector .dk_container > a.dk_toggle.dk_label text {
  pointer-events: none;
}

.flagSelectorContainer .countrySelector .dk_container.dk_open .dk_options_inner a {
  font-family: "azoRegular", sans-serif;
  font-size: 12px;
}

@media (max-width: 1024px) {
  .flagSelectorContainer .countrySelector .dk_container.dk_open .dk_options_inner a {
    border: none;
  }
}

.flagSelectorContainer .countrySelector .dk_options {
  background: #fff;
}

.flagSelectorContainer .HeaderFlag_small.flagBackground {
  border-radius: 3px;
}

.flagSelectorContainer .btnFlagSelectorShopNow {
  background-color: #1a6461;
  padding: 12px;
  border-radius: 4px;
  line-height: 14px;
  font-family: "azoMedium", sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  color: #fff !important;
}

.PageHeader .flagSelectorContainer.open {
  background-color: transparent;
}

.PageHeader .flagContainer.open {
  background-color: transparent;
}

.flagContainer .HeaderFlag {
  border: none;
  margin-top: 2px;
}

.flagContainer .HeaderFlag.flagBackground {
  background: url(/Images/Structural/Footer/Flags/world-flags-48@2x.png);
  width: 24px;
  height: 24px;
  background-size: 360px 120px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Argentina {
  background-position: 0 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-Armenia {
  background-position: -24px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-Australia {
  background-position: -48px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-Austria {
  background-position: -72px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-Azerbaijan {
  background-position: -96px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-Bahrain {
  background-position: -120px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-Belarus {
  background-position: -144px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-Belgium {
  background-position: -168px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-Brazil {
  background-position: -192px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-Bulgaria {
  background-position: -216px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-Canada {
  background-position: -240px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-Chile {
  background-position: -264px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-China {
  background-position: -288px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-Croatia {
  background-position: -312px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-Cyprus {
  background-position: -336px 0;
}

.flagContainer .HeaderFlag.flagBackground.flag-CzechRepublic {
  background-position: 0 -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Denmark {
  background-position: -24px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Egypt {
  background-position: -48px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Estonia {
  background-position: -72px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Finland {
  background-position: -96px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-France {
  background-position: -120px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Georgia {
  background-position: -144px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Germany {
  background-position: -168px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Gibraltar {
  background-position: -192px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Greece {
  background-position: -216px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-HongKong {
  background-position: -240px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Hungary {
  background-position: -264px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Iceland {
  background-position: -288px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-India {
  background-position: -312px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Indonesia {
  background-position: -336px -24px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Ireland {
  background-position: 0 -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Israel {
  background-position: -24px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Italy {
  background-position: -48px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Japan {
  background-position: -72px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Kazakhstan {
  background-position: -96px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Kuwait {
  background-position: -120px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Latvia {
  background-position: -144px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Lebanon {
  background-position: -168px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Libya {
  background-position: -192px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Lithuania {
  background-position: -216px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Luxembourg {
  background-position: -240px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Malaysia {
  background-position: -264px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Malta {
  background-position: -288px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Mexico {
  background-position: -312px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Netherlands {
  background-position: -336px -48px;
}

.flagContainer .HeaderFlag.flagBackground.flag-NewZealand {
  background-position: 0 -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Norway {
  background-position: -24px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Oman {
  background-position: -48px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Pakistan {
  background-position: -72px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Peru {
  background-position: -96px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Philippines {
  background-position: -120px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Poland {
  background-position: -144px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Portugal {
  background-position: -168px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Qatar {
  background-position: -192px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Romania {
  background-position: -216px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Russia {
  background-position: -240px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-SaudiArabia {
  background-position: -264px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Serbia {
  background-position: -288px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Singapore {
  background-position: -312px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Slovakia {
  background-position: -336px -72px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Slovenia {
  background-position: 0 -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-SouthAfrica {
  background-position: -24px -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-SouthKorea {
  background-position: -48px -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Spain {
  background-position: -72px -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Sweden {
  background-position: -96px -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Switzerland {
  background-position: -120px -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Taiwan {
  background-position: -144px -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Thailand {
  background-position: -168px -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Turkey {
  background-position: -192px -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Ukraine {
  background-position: -216px -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-UnitedArabEmirates {
  background-position: -240px -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-UnitedKingdom {
  background-position: -264px -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-USA {
  background-position: -288px -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-Venezuela {
  background-position: -312px -96px;
}

.flagContainer .HeaderFlag.flagBackground.flag-BritishForcesPostOffice {
  background-position: -336px -96px;
}

.PageFooter .countrySelector {
  left: 665px;
}

.PageFooter .countrySelector .dividerHorizontal {
  border: none;
}

.PageFooter .countrySelector .countrySelectDD, .PageFooter .countrySelector .countrySelectDD * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.PageFooter .flagContainer {
  width: 32px;
}

.PageFooter .flagContainer.open {
  background-color: #fff;
}

.SNStaticLive {
  top: 37px;
}

.PageHeader .MainNavigation {
  font-family: "azoRegular", sans-serif;
  font-size: 14px;
  letter-spacing: -0.1px;
  color: #ffffff;
}

.PageHeader .MainNavigation .PrimaryNavigation .Department a.DepartmentLink {
  height: 36px;
  font-family: "azoRegular", sans-serif;
}

.PageHeader .MainNavigation .SecondaryNavigation .Divider {
  border-bottom: 0;
  border-bottom: 1px solid #c7c5c5;
}

.PageHeader .MainNavigation .SecondaryNavigation .blockTitle {
  font-family: "azoMedium", sans-serif;
  font-weight: 500;
  margin-bottom: 2px;
  border-bottom: none;
  color: #0e0e0e;
}

.PageHeader .MainNavigation .SecondaryNavigation .ComponentContainer {
  margin: 0;
  padding: 12px 0 0;
}

.PageHeader .MainNavigation .SecondaryNavigation .CollectionsContainer {
  background-color: #f7f7f7;
  margin: 17px 0 0 17px;
  padding-top: 10px;
}

.PageHeader .MainNavigation .SecondaryNavigation .Cols-1 {
  padding: 17px 0 0 12px;
  border: none;
}

.PageHeader .MainNavigation .SecondaryNavigation .Component {
  padding-top: 0;
  height: 402px;
}

.PageHeader .MainNavigation .SecondaryNavigation div.ComponentContainer > ul.Component > li.MegaNavEnabled.Active > div.Text {
  background-image: url(/Images/Structural/Icons/right-arrow.png);
  background-position: 160px 5px;
}

.PageHeader .MainNavigation .SecondaryNavigation a:hover > span.GlobalIcon {
  text-decoration: underline;
}

.PageHeader .MainNavigation .SecondaryNavigation li.ComponentItem:hover > div.Text > a {
  text-decoration: underline;
}

.PageHeader .MainNavigation .SecondaryNavigation li.ComponentItem.Header .Text {
  font-family: "azoMedium", sans-serif;
  font-weight: 500;
  color: #0e0e0e;
}

.PageHeader .MainNavigation .SecondaryNavigation .GlobalSizeLinks div.Text > a:hover {
  text-decoration: underline;
}

.PageHeader .MainNavigation .SecondaryNavigation li.Active > div.Text > a {
  text-decoration: underline;
}

.PageHeader .MainNavigation .SecondaryNavigation li.Active .CollectionDetails {
  padding-top: 8px;
}

.PageHeader .MainNavigation .SecondaryNavigation li.Active .CollectionDetails h3 {
  font-family: "azoMedium", sans-serif;
  font-weight: 500;
  color: #0e0e0e;
  margin-bottom: 10px;
}

.PageHeader .MainNavigation .SecondaryNavigation li.Active .CollectionDetails p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #0e0e0e;
  font-weight: normal;
  font-size: 11px;
}

.PageHeader .MainNavigation .SecondaryNavigation .CollectionDetails > .Text a {
  color: #1a6461;
  font-size: 11px;
  text-decoration: underline;
}

.PageHeader .MainNavigation .SecondaryNavigation .ProductsContainer {
  margin-top: 12px;
}

.PageHeader .MainNavigation .SecondaryNavigation .ProductsContainer.SubDepts {
  margin-left: 4px;
  height: 400px;
}

.PageHeader .MainNavigation .ProductsContainer li {
  margin-bottom: 4px;
}

.PageHeader .MainNavigation .ProductsContainer li.Header {
  border-bottom: 0;
  border-bottom: 1px solid #c7c5c5;
}

.PageHeader .MainNavigation ul#steps {
  margin-right: 15px;
}

.PageHeader .MainNavigation ul#steps li {
  line-height: 30px;
}

.PageHeader #MainNavigation .SecondaryNavigation {
  height: auto;
  max-height: 480px;
  padding-bottom: 18px;
  border-top: none;
}

.PageHeader #MainNavigation .SecondaryNavigation ul.ActiveChild {
  border-right: 1px solid #c7c5c5;
}

.PageHeader #MainNavigation .SecondaryNavigation ul.ActiveChild li.Active {
  background-color: #f7f7f7;
}

.PageHeader #MainNavigation .SecondaryNavigation .subDepts li {
  background: #fff;
  color: #000;
  border-radius: 10px 10px 0 0;
}

.PageHeader #MainNavigation .SecondaryNavigation .subDepts li .Text a {
  color: #111111;
  font-family: "azoMedium", sans-serif;
  font-size: 11px;
  font-weight: 500;
}

.PageHeader #MainNavigation .SecondaryNavigation .subDepts li.selected {
  background: #000;
}

.PageHeader #MainNavigation .SecondaryNavigation .subDepts li.selected .Text a {
  color: #fff;
}

.PageHeader #MainNavigation .SecondaryNavigation .subDepts li .arrow {
  background-image: none;
}

.PageHeader #MainNavigation .SecondaryNavigation div.ProductsContainer ul.Component {
  height: 440px;
}

.PageHeader #MainNavigation .SecondaryNavigation div.ProductsContainer.SubDepts ul.Component {
  height: 400px;
}

.PageHeader .MainNavigation .SecondaryNavigation .CollectionsContainer .Title {
  padding: 7px 10px 5px;
}

.PageHeader .MainNavigation .SecondaryNavigation .CollectionsContainer .Text {
  padding: 7px 10px 5px;
}

.PageHeader .MainNavigation .SecondaryNavigation .CollectionsContainer.SubDepts .blockTitle {
  text-transform: uppercase;
  font-family: "azoMedium", sans-serif;
  font-weight: 500;
  color: #0e0e0e;
}

.PageHeader .MainNavigation .SecondaryNavigation .All .ComponentContainer {
  border: none;
}

.PageHeader .MainNavigation .SecondaryNavigation .ProductsContainer.SubDepts {
  margin-left: 11px;
}

.PageHeader .MainNavigation .SecondaryNavigation .ProductsContainer.SubDepts .ComponentItem.Header .Text {
  text-transform: uppercase;
  font-family: "azoMedium", sans-serif;
  font-weight: 500;
}

.PageHeader .MainNavigation .SecondaryNavigation div.CollectionsContainer.SubDepts {
  height: 388px;
  border: 1px solid #c7c5c5;
  width: 174px;
}

.PageHeader .MainNavigation .SecondaryNavigation a {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #0e0e0e;
  font-weight: normal;
}

.PageHeader .MainNavigation .ProductsContainer.SubDepts li {
  margin: 0 11px 4px 0;
}

.PageHeader .MainNavigation .ProductsContainer.SubDepts li.Header {
  padding-bottom: 4px;
}

.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper {
  margin: 10px 0 0 0;
}

.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .imgWrapper {
  margin: 0;
}

.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .imgWrapper img {
  border: solid 1px #c7c5c5;
}

.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .itemDetail {
  font-family: "azoMedium", sans-serif;
  font-weight: 500;
  width: 205px !important;
  float: right;
  right: 4px;
  margin-right: 0;
}

.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .itemDetail span.itemSize,
.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .itemDetail span.itemQty {
  font-family: "azoMedium", sans-serif;
  font-weight: 500;
}

.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .itemDetail span.itemSize strong,
.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .itemDetail span.itemQty strong {
  font-weight: 500;
}

.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .itemDetail span.itemStatus {
  width: 100%;
}

.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .itemDetail.instock span.itemStatus {
  text-transform: capitalize;
}

.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .itemDetail.delayed span.itemStatus {
  text-transform: capitalize;
  width: 188px;
  height: 16px;
  font-family: "azoMedium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  text-align: left;
  color: #ef831e;
}

.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .itemDetail.soldout span.itemStatus {
  text-transform: capitalize;
}

.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .itemDetail span.itemDesc, .PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .itemDetail span.itemDesc2 {
  width: 130px;
  height: 21px;
  font-family: "azoMedium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.75;
  text-align: left;
  color: #222222;
}

.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .itemDetail span.itemPrice {
  height: 21px;
  font-family: "azoMedium", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.75;
  text-align: right;
  color: #222222;
}

.PageHeader .addedToBagDialogue .innerAddedToBagDialogue .itemWrapper .itemDetail.itemSummary {
  right: 0;
  margin: 0;
  padding: 0;
}

.PageHeader .addedToBagDialogue .bagHeader {
  font-family: "azoMedium", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.PageHeader .addedToBagDialogue .bagHeader .items_count {
  text-transform: uppercase;
}

.PageHeader .addedToBagDialogue .bagFooter .subText {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #222222;
  height: 21px;
  font-size: 11px;
  line-height: 1.91;
  text-align: left;
}

.PageHeader .addedToBagDialogue .bagFooter a.view_edit_bag {
  color: #222222;
  padding: 12px;
  background: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  width: 38%;
  line-height: 12px;
  font-family: "azoMedium", sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  border-color: #222222;
}

.PageHeader .addedToBagDialogue .bagFooter a.checkout {
  color: #fff;
  padding: 12px;
  background: #1a6461;
  border-radius: 4px;
  text-transform: uppercase;
  width: 38%;
  line-height: 12px;
  font-family: "azoMedium", sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  border: 1px solid #1a6461;
}

.PageHeader .addedToBagDialogue .bagFooter a.checkout.disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  opacity: 0.4;
  background-color: #1a6461;
}

.PageHeader .addedToBagDialogue .rebuildBagFooter .subText {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #222222;
  margin-bottom: 10px;
}

.PageHeader .addedToBagDialogue .rebuildBagFooter .right,
.PageHeader .addedToBagDialogue .bagFooter .right {
  height: 21px;
  font-family: "azoMedium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #222222;
}

.PageHeader .addedToBagDialogue .bagFooter .left,
.PageHeader .addedToBagDialogue .rebuildBagFooter .left {
  width: 48px;
  height: 21px;
  font-family: "azoMedium", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #222222;
}

div.RecentlyViewedWrapper {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

div.RecentlyViewedWrapper .RecentlyViewed .controls {
  border-bottom: 1px solid #C7C7C7;
}

div.RecentlyViewedWrapper .RecentlyViewed .controls h3 {
  font-family: "azoRegular", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-top: 4px;
}

div.RecentlyViewedWrapper .RecentlyViewed .controls a.clearAll {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #1a6461;
  text-decoration: underline;
}

div.RecentlyViewedWrapper .RecentlyViewed .controls a.clearAll.disabled {
  color: #ccc;
}

div.RecentlyViewedWrapper .RecentlyViewed .emptyMessage span {
  font-family: "azoRegular", sans-serif;
}

div.RecentlyViewedWrapper .RecentlyViewed .errorMessageBlock {
  font-family: "azoRegular", sans-serif;
}

button.nxbtn.primary, input.nxbtn.primary, a.nxbtn.primary {
  color: #ffffff;
  background-color: #1a6461;
}

button.nxbtn.primary.loading, input.nxbtn.primary.loading, a.nxbtn.primary.loading {
  background-image: url(/Images/Structural/Buttons/Secondary/loader-small-24px.gif);
}

button.nxbtn.primary.disabled, input.nxbtn.primary.disabled, a.nxbtn.primary.disabled {
  background-color: #1a6461;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  opacity: 0.4;
}

button.btn.btn-primary,
input.searchBtn {
  color: #ffffff;
  background-color: #1a6461;
}

input.searchBtn {
  border-radius: 4px;
  text-transform: uppercase;
}

.PageHeader .addedToBagDialogue .bagFooter a.checkout, .PageHeader .addedToBagDialogue .rebuildBagFooter a.checkout {
  color: #ffffff;
  background-color: #1a6461;
  border: 1px solid #1a6461;
}

/*# sourceMappingURL=reskin-header-gel.css.map */