@media screen and ( min-width: 1220px ) {
  #homepage-pages-one, #homepage-pages-two {
    background-size: 100%! important;
  }
}

@media screen and ( max-width: 1220px ) {
  .short-des { display: none; }  
  .cart-words { display: none; }
}


@media screen and ( max-width: 1024px ) {
  #homepage-pages-one, #homepage-pages-two {
    background-attachment: scroll! important;
    background-size: cover! important;
  }

}


@media screen and ( min-width: 980px ) {
  p.theme-error {
    max-width: 175px;
  }
}


@media screen and (max-width: 980px) and (min-width: 740px) {

  .index ul#social-icons, ul#social-icons li { text-align: center; }  
  ul#cart {  }
  ul#cart, ul#cart li { text-align: center; position: relative; z-index: 2; }
  .quick-shop { width: 100%; }
  .show { text-align: center; width: 100%; display: block; margin-bottom: 20px; }
  #sidebar { display: none; text-align: center; }
  #sidebar.open { display: block; }
  #sidebar ul li { padding: 5px 0; } 
  .product-info .rte { display: none; }
  ul#home-icons { text-align: center; }
  #social-area { text-align: center; }
}



@media screen and ( min-width: 740px ) {
  .mobile-only { display: none; }
}


/* All Mobile Sizes (devices and browser) */

@media screen and (max-width: 740px) and (min-width: 200px) { 

.flex-caption h2.slide-title { font-size: 1.4em; }
.flex-caption { text-align: center; }
.flex-caption p { display: none; }
.cta a { font-size: 1em; }    

.flex-caption.slide1, .flex-caption.slide2, .flex-caption.slide3, .flex-caption.slide4, .flex-caption.slide5 {
  text-align: center;
}



  
  
  .product-page { margin-top: 30px; }
  #content { margin-top: 0! important; }

  .mobile-hide { display: none; }
  #logo { margin: 5px auto; text-align: center; }
  nav { display: none; }

  #product-header h1 { 
    line-height: initial;
    padding: 36px 0; 
  }

  .section-title h1, .section-title h2 {
    line-height: initial;
    padding: 0 0 36px;
  }

  .section-title h3 { 
    line-height: initial;
    padding: 15px 0; 
  }

  .section-title {
    line-height: initial;
  }

  ul#home-icons { text-align: center; }

  a.scrollup { display: none! important; }
  .mobile-none { display: none! important; }
  ul#main-nav { display: none; }

  h1, h2, h3, h4, h5 { text-align: center; }
  .fr { display: none; }

  #logo { }
  #logo a { float: none; }

  #content { margin-top: 0; }
  #home-intro { position: relative; }


    

  .index header { position: fixed; }
  header { position: relative; line-height: initial! important; }

  #home-intro { margin-top: 0; }

  section#homepage-promo { padding: 20px 0; }
  .product-info { display: none; }
  .product-info-mobile { display: block; }
  .product-info-mobile h3, .product-info-mobile h4 { letter-spacing: initial; font-weight: normal; font-size: 12px; }
  .price { color: #000000; text-align: center; }

  .mfirst { clear: left; }

  #product-price { text-align: center; padding: 20px; 0; }
  .add { margin: 0 auto; }
  label { clear: both; float: none; text-align: center; width: 100%; }
  .selector-wrapper { text-align: center; }
  .share-icons { text-align: center; }

  .ajaxified-cart-feedback.success { text-align: center; }

  .sorting { text-align: center; }

  #homepage-instagram .instagram-image {
    width: 33.3333333%;
    padding: 0;
    margin: 0;
    float: left;
    filter: url(filters.html#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .5s ease-in-out;
    opacity: 0.6;
  }


  .icn { display: none; }
  ul#social-icons, ul#social-icons li { text-align: center; margin-bottom: 0;}  
  ul#cart { text-align: center; }
  ul#cart li { 
    vertical-align: middle;
    height: 50px;
    padding: 0;
    text-align: center;
    min-width: 50px;
    line-height: 50px;
  }
  ul#cart li.wider {
    width: 60px; 
  }

  .posted { text-align: center! important; }
  #blog-sidebar #social-icons { margin-bottom: 20px; }
  ul#blog-recent, ul#blog-tags { text-align: center; }
  .fb-like-box {
    width: 200px! important;
    float: none;
    display: block! important;
    margin: 0 auto;
  }

  .readmore { text-align: center; }

  .product-modal { display: none; }
  ul#cart li.cart-overview:hover #crt { display: none! important; }

  .show { text-align: center; width: 100%; display: block; margin-bottom: 20px; }
  #sidebar { display: none; text-align: center; }
  #sidebar.open { display: block; }
  #sidebar ul li { padding: 5px 0; }


  #page-sidebar { margin-top: 20px; text-align: center; }

  #looked-at { display: none; }  

  #cart-notes { display: none; }


  .first { clear: none; }
  .product:nth-child(2n+1) { clear: left; }
  .what-is-it { text-align: center; }



  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; margin: 20px 0;}

  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding: 10px; 
    text-align: center;
  }


  #shopping-cart table input { margin-top: 20px! important; }

  .cart-item { display: block; }
  .cart-image, .cart-title { display: block; width: 100%;}

  #basket-right p { text-align: center; }
  #basket-right h4 { font-weight: normal; text-align: center; margin: 20px 0 30px; }

  #shopping-cart table td:nth-of-type(2):before { content: "Item Price"; }
  #shopping-cart table td:nth-of-type(3):before { content: "Quantity"; }
  #shopping-cart table td:nth-of-type(4):before { content: "Remove"; }
  #shopping-cart table td:nth-of-type(5):before { content: "Total"; } 


}
